<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249403327312-6glep53l6uf2hlmngrumti5uvpt9ujrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249403327312-6glep53l6uf2hlmngrumti5uvpt9ujrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBAx5jd9ENlUs7FRU3QZB-YnRdBcF3nZCw</string>
	<key>GCM_SENDER_ID</key>
	<string>249403327312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purebreed.cdsampler</string>
	<key>PROJECT_ID</key>
	<string>cd-sampler</string>
	<key>STORAGE_BUCKET</key>
	<string>cd-sampler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249403327312:ios:6b5f6a3e386f7737692255</string>
</dict>
</plist>